.head-login-register-enter-active {
  transition: all .1s ease;
}
.head-login-register-leave-active {
  transition: all .1s ease;
}
.head-login-register-enter, .head-login-register-leave-to
/* .head-login-register-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
